@page "/login"
@layout EmptyLayout




<div id="loading-screen">
   @*  <img src="images/主页加载.png" alt="Logo" /> *@

    <div id="login-form-wrapper">
        <div id="login-form">
            <input id="username" placeholder="Username" class="tech-input" />
            <input id="password" placeholder="Password" type="password" class="tech-input" />
            <button id="login-button">登录</button>
            <p id="error">登陆失败</p>
        </div>
    </div>
</div>



<script>
    window.setTimeout(() => {
        console.log("✅ JS loaded");

        const username = document.getElementById('username');
        const password = document.getElementById('password');
        const error = document.getElementById('error');
        const loginBtn = document.getElementById('login-button');

        if (!username || !password) {
            console.warn("⛔ 输入框没找到！");
            return;
        }

        async function tryLogin() {
            const response = await fetch('/api/auth/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    username: username.value,
                    password: password.value,
                    app: "system"
                })
            });

            if (response.ok) {
                 sessionStorage.setItem("isLoggedIn", "true"); // ✅ 标记为已登录
                  sessionStorage.setItem('username', username.value);
                window.location.href = "/download";

            } else {
                error.style.display = 'block';
            }

        }

        [username, password].forEach(input => {
            input.addEventListener('keydown', e => {
                if (e.key === 'Enter') {
                    console.log("⏎ Enter pressed, tryLogin()");
                    tryLogin();
                }
            });
        });
        // ✅ 点击按钮登录
        loginBtn.addEventListener('click', tryLogin);
    }, 200); // ✅ 延迟一点确保 DOM 构建完成
</script>


@code {

}
