@* <nav class="navbar">
    <div class="logo">Speckle</div>
    <ul class="nav-links">
        <li><a href="#">Product</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Pricing</a></li>
    </ul>
    <div class="auth">
        <a class="btn login" href="#">Log in</a>
        <a class="btn signup" href="#">Sign up</a>
    </div>
</nav>
 *@